* {
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #71b280;
}

input {
    font-size: 25px;
    width: 100%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.layout {
    display: flex;
}

.box {
    border: solid 2px black;
    border-radius: 30px;
    width: 40%;
    margin-left: 15%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: white;
}

.note {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    line-height: 5px;
    font-size: 20px;
    border: solid 2px black;
    border-radius: 30px;
    width: 30%;
    margin-left: 15px;
    padding: 20px;
    background-color: white;
}

.plus-minus {
    display: flex;
}

.plus {
    width: 40px;
    background-color: lightgrey;
}
.minus {
    width: 40px;
    background-color: lightgrey;
}

.center {
    text-align: center;
}
.save-btn > button {
    cursor: pointer;
    position: absolute;
    width: 90%;
    height: 50px;
    font-size: 20px;
    background-color: #0275d8;
    margin-bottom: 15px;
    border-radius: 30px;
    bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

#delete-btn {
    cursor: pointer;
    width: 40%;
    height: 50px;
    font-size: 20px;
    background-color: rgb(184, 63, 47);
    margin-bottom: 5px;
    border-radius: 30px;
    bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.underline {
    text-decoration: underline;
}

.receipt {
    width: 71%;
    border: solid 2px black;
    font-size: 20px;
    border-radius: 30px;
    margin-left: 15%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: white;
}
ul {
    display: grid;
    grid-template-columns: auto auto auto;
}

li {
    list-style: none;
    background-color: #71b280;
    margin: 5px;

    padding: 10px;
    border: solid 2px black;
    border-radius: 15px;
}

@media screen and (max-width: 480px) {
    .layout {
        display: inline;
    }
    .box {
        width: 90%;

        margin-left: 5%;
    }
    .note {
        width: 90%;
        height: 300px;
        margin-top: 5px;
        margin-left: 5%;
    }
    ul {
        grid-template-columns: auto;
        margin-left: -10%;
    }

    .receipt {
        width: 90%;
        margin-left: 5%;
    }

    #delete-btn {
        width: 90%;
        margin-left: 5%;
    }
}
